[Unit]
Description=Announce Apache2
BindsTo=apache.2.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/website/apache2 '{ \"host\": \"%H\", \"port\": 80, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/website/apache2

[X-Fleet]
X-ConditionMachineOf=apache.2.service
