[Unit]
After=etcd-amb-redis2.service

[Service]
ExecStart=/usr/bin/docker run -link etcd-amb-redis2.service:etcd -rm -name %n -p 127.0.0.1::6379 polvi/dynamic-etcd-amb redis-A 6379
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
X-ConditionMachineOf=etcd-amb-redis2.service
