[Service]
ExecStart=/usr/bin/docker run -rm -name %n polvi/simple-amb 172.17.42.1:4001
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
X-Conflicts=redis-demo.service
