[Unit]
After=etcd-amb-redis.service

[Service]
ExecStart=/usr/bin/docker run -link etcd-amb-redis.service:etcd -v /var/run/docker.sock:/var/run/docker.sock -rm polvi/docker-register redis-demo.service 6379 redis-A

[X-Fleet]
X-ConditionMachineOf=redis-demo.service
