[Unit]
Description=Example 1.0.0
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill example-1A
ExecStartPre=-/usr/bin/docker rm example-1A
ExecStartPre=/usr/bin/docker pull coreos/example:1.0.0
ExecStart=/usr/bin/docker run --rm --name example-1A -p 8086:80 coreos/example:1.0.0
ExecStop=/usr/bin/docker kill example-1A

[X-Fleet]
X-Conflicts=example-v1.0.0-*.service
