[Unit]
Description=Register for Example
BindsTo=example-v2.0.0-B.service
After=example-v2.0.0-B.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/bin/etcdctl set \"/vulcand/upstreams/example/endpoints/mixed-register-v2.0.0-B.service\" http://$COREOS_PUBLIC_IPV4:8086; \
  /bin/etcdctl set \"/vulcand/hosts/example.com/locations/home/path\" '/.*'; \
  /bin/etcdctl set /vulcand/hosts/example.com/locations/home/upstream example"
ExecStop=/bin/sh -c "/bin/etcdctl rm /vulcand/upstreams/example/endpoints/mixed-register-v2.0.0-B.service"

[X-Fleet]
X-ConditionMachineOf=example-v2.0.0-B.service
