[Unit]
Description=Register for Example
After=example-v1.0.0-B.service

[Service]
EnvironmentFile=/etc/environment
RemainAfterExit=yes
ExecStart=/bin/sh -c "/bin/etcdctl set \"/vulcand/upstreams/example/endpoints/switch-register-v1.0.0-B.service\" http://$COREOS_PUBLIC_IPV4:8085; \
  /bin/etcdctl set \"/vulcand/hosts/example.com/locations/home/path\" '/.*'";
ExecStop=/bin/sh -c "/bin/etcdctl rm /vulcand/upstreams/example/endpoints/switch-register-v1.0.0-B.service"

[X-Fleet]
X-ConditionMachineOf=example-v1.0.0-B.service
